
$bgColorPrincipalContainer: #ffffff90;


$bgColorCard: #ffffff;
$bgColorCardHover: #0000ff50;

$fontSizeTitleCard:20px;
$fontSizeContentCard: 15px;

$fontHeightBolder:bolder;
$fontHeightNormal:normal;
$fontSizeTitleWeb: 25px;
$fontColorTitleWeb: #fff;
$bgColorTitleWeb: #6b6bd87a;
